---
layout: default
title: All things Art
subtitle: 2018-2019
description: 
featured_image: 
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<!-- 
<section class="portfolio">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<div class="portfolio-item">

			<a class="portfolio-item__link" href="{{ project.url }}">

				<div class="portfolio-item__image" style="background-image: url({{ project.featured_image  }});"></div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

</section>
 -->

<section class="blog single">

	<div class="wrap">

		{% for project in site.arts reversed %}


		<article class="blog-post">

			<div class="blog-post__header">
				<h2 class="blog-post__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
				<p class="blog-project__subtitle">{{ project.date | date_to_long_string }}</p>
			</div>

			{% if project.featured_image %}
			<a href="{{ project.url }}" class="blog-post__image" style="background-image: url({{ project.featured_image  }});"></a>
			{% endif %}
			
									{% if project.tags %} | 
    		{% for tag in project.tags %}
    		<a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">#{{ tag }}</a>
    		{% endfor %}
    		{% endif %}

			<div class="blog-post__content">
				<p>{{ project.excerpt }}</p>
				<p><a href="{{ project.url }}" class="button">Read More</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>